:root{
  /* PRIMARY */
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);

  /* Neutral */
  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);
}

*{
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

body{
  background-color: var(--dark-blue);
  font-family: 'Manrope', sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box{
  position: relative;
  background-color: var(--dark-grayish-blue);
  max-width: 40rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem;
  border-radius: 1rem;
}

.span{
  display: block;
  color: var(--neon-green);
  font-size: .75rem;
  letter-spacing: .2rem;
  margin-bottom: 1rem;
}

.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 8rem;
  width: 100%;
  color: var(--light-cyan);
  text-align: center;
  font-size: 1.5rem;
  padding: 0 2rem;
}

.divisor{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

#btn{
  display: block;
  width: 60px;
  height: 60px;
  background: var(--neon-green);
  position: absolute;
  bottom: -30px;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

#btn:hover{
  box-shadow: 0px 0px 30px var(--neon-green);
}

#btn img{
  display: block;
  margin: 0 auto;
}

.mobile{
  display: none;
}

@media screen and (max-width: 700px){
  .desktop{
    display: none;
  }
  
  .mobile{
    display: block;
  }

  .box{
    min-width: 300px;
    padding: 2rem 1rem;
  }

  .wrapper{
    padding: 0 1rem;
    font-size: 1.3rem;
  }

  .divisor{
    margin-bottom: 1.5rem;
  }
}